@import './../../../styles/var';

.category-item {
  display: flex;
  align-items: baseline;
  width: 100%;
  min-height: 35px;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  transition: 0.1s ease-in background;
  color: $content-color;
  text-decoration: none;

  .category-item__icon {
    width: 20px;
    height: 20px;
  }
  .category-item__text {
    padding-left: 10px;
    //font-family: Helvetica, sans-serif;
    font-size: 15px;
  }
}
.category-item:hover {
  background-color: $light-blue;
}
.category-item:visited {
  color: $content-color;
}
