@import './var';
@import './flex';

* {
  box-sizing: border-box;
}
html, body {
  margin: 0 auto;
  padding: 0 10px $category-bar-height 10px;
  width: 100%;
  max-width: 700px;
  height: 100vh;
}

@font-face {
  font-family: 'Graff';
  src: url('./../assets/font/Graff.ttf');
}

