@import '~github-markdown-css';
@import '~highlight.js/styles/github-gist.css';
@import './prism-github';
@import './var';
@import './flex';
@import './theme.scss';
@import './media';

$category-bar-height: 70px;
$header-height: 70px;
$content-color: #272727;
$hover-background-color: #efefef;
$blur: #5d5d5d;
$light-blue: #f6f8fa;
$header-color: #272727;

:root {
  --bg-color: #fff;
  --content-color: #272727;
  --hover-bg-color: #efefef;
  --blur: #5d5d5d;
  --light-blue: #f6f8fa;
}
html.darkmode:root {
  --bg-color: #000;
  --content-color: #fff;
  --hover-bg-color: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --content-color: #fff;
    --hover-bg-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --content-color: #272727;
    --hover-bg-color: #efefef;
    --blur: #5d5d5d;
    --light-blue: #f6f8fa;
  }
}
* {
  box-sizing: border-box;
}
html, body {
  font-family: 'Noto Sans KR', Helvetica, sans-serif !important;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  //max-width: 700px;
  height: 100vh;
  background-color: var(--bg-color);
  color: $content-color;
  color: var(--bg-color);
}
//html.darkmode {
//  background-color: #000;
//  color: #fff;
//}

.markdown-body {
  font-family: initial !important;
  text-align: justify;
  word-break: break-all;

  @include mob-large {
    word-break: keep-all;
    text-align: left;
  }
}

h1, h2, h3 {
  border: none !important;
}

p, ul, li {
  font-weight: 300 !important;
  line-height: 160% !important;
}

@font-face {
  font-family: 'Graff';
  src: url('./../assets/font/Graff.ttf');
}
