@import './../../styles/var';

.header {
  width: 100%;
  height: $header-height;
  border-bottom: 2px dashed #e3e3e3;
  font-family: 'Graff', Helvetica, serif;

  .header__title {
    width: 200px;

    .header__title__icon {
      width: 50px;
      height: 50px;
    }
    .header__title__text {
      font-size: 30px;
      color: $content-color;
      text-decoration: none;
    }
    .header__title__text:visited {
      color: $content-color;
    }
  }

  .header__github {
    width: 70px;
    height: 70px;

    .header__github__icon {
      width: 40px;
      height: 40px;
    }
  }
}
