.profile-card {
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;

  .profile-card__avatar {
    margin: 10px 0;
    font-size: 70px;
  }

  .profile-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    .profile-card__info__author {
      font-size: 18px;
      font-weight: bold;
    }
    .profile-card__info__pr {
      max-width: 300px;
      padding: 10px 0;
      font-size: 13px;
    }
  }
}
